@font-face {
    font-family: "Lato";
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Lato Bold";
    src: url('../assets/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Merriweather";
    src: url('../assets/fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Merriweather Bold";
    src: url('../assets/fonts/Merriweather-Bold.ttf') format('truetype');
}