* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
}

article.container {
    padding-bottom: 60px;
}

.header-links {
    padding: 50px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

h1.logo {
    font-family: "Lato Bold";
    font-size: 26px;
}

header nav {
    margin-left: 60px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-links a {
    font-family: "Lato Bold";
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.header-links a:hover {
    transform: scale(1.1) translateX(6px);
    color: lightseagreen;
    transition: all 100ms ease-in-out;
}

.header-icons {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 30px;
}

.icons {
    width: 20px;
    height: 20px;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 60px;
}

.title-container, .description-container {
    width: 50%;
    margin: 0px 30px;
}
.title-container {
    width: 40%;
}

.title {
    font-family: "Merriweather Bold";
    font-size: 30px;
    text-align: right;
    color: rgb(24, 24, 24);
    line-height: 40px;
}

.description { 
    font-family: "Lato";
    font-size: 14px;
    text-align: left;
    color: rgb(114, 114, 114);
    line-height: 32px;
}

a.book-link {
    color: lightseagreen;
    font-size: 14px;
    font-family: "Lato Bold";
    display: flex;
    align-items: center;
    margin-top: 6px;
    text-decoration: none;
}

a img.arrow {
    width: 15px;
    height: 18px;
    margin-left: 10px;
}

a.book-link:hover {
    text-decoration: underline;
    transform: scale(1.01);
    transition: all 200ms ease-in-out;
}

.house-container {
    margin: 60px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.house-image {
    width: 90%;
}

.floating-box {
    background-color: black;
    width: 40%;
    padding: 10px 20px;
    position: absolute;
    bottom: -160px;
    right: 120px;
}

.floating-box p {
    color: white;
    font-family: "Merriweather";
    font-size: 12px;
    text-align: left;
    line-height: 32px;
}

.floating-box:hover{
    transform: scale(1.01) skewX(-1deg);
    transition: all 1s ease-in-out;
}